version: 3

images:
  base_image:
    name: aap.example.org/ee-minimal-rhel9:latest

dependencies:
  python: requirements.txt
  galaxy: collections/requirements.yml
  system: bindep.txt

options:
  package_manager_path: /usr/bin/microdnf

build_arg_defaults:
   ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--ignore-certs'

additional_build_files:
  - src: ansible.cfg
    dest: configs
  - src: files/aap-example-org.pem
    dest: configs
  - src: .ansible/galaxy_token
    dest: configs
  # uncomment if custom RPM repositories are required
  #- src: files/custom.repo
  #  dest: configs

additional_build_steps:
  prepend_base:
    # remove the default UBI repository definition
    # - RUN rm -f /etc/yum.repos.d/ubi.repo
    # copy the hub CA certificate and update the trust store
    - ADD _build/configs/aap-example-org.pem /etc/pki/ca-trust/source/anchors
    - RUN update-ca-trust
    - ADD _build/configs/ansible.cfg /etc/ansible/ansible.cfg
    # if needed, uncomment to add a custom RPM repository configuration
    #- ADD _build/configs/custom.repo /etc/yum.repos.d/custom.repo

  # prepend_galaxy:
  #  - ADD _build/configs/ansible.cfg ~/.ansible.cfg
